* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(248, 248, 248);
}

body {
    display: grid;
    

}

.page_header {
    min-height: 10vh;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
}

.page_main {
    min-height: 80vh;
    display: grid;
    place-items: center;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
}





.page_footer {
    min-height: 10vh;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
}

#page_logo {
    height: 80px;
    width: 80px;
}



#page_social {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
}

#page_contacts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
}

#page_policies {
    display: grid;
  
}

h3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
   

}

#image {
    display: grid;
    place-self: center;
    object-fit: cover;
    border-radius: 10%;
    width: 600px;
    
   
}


#page_section>p {
 display: grid;
 grid-template-columns: 2fr 1fr;
 place-items: center;
 

}

#page_tag {
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center;
    width: 600px;
   
}

#image_1 {
        display: grid;
    grid-template-columns: 1fr;
    place-self: center;
    object-fit: cover;
    border-radius: 40%;
    width: 300px;
    height: 10%;
}
